* {
    box-sizing: border-box;
}

body {
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    /* grid-template-areas:
    "a a a"
    "b b b"; */
    gap: 10px;
}

body>* {
    background-color: aqua;
    height: 100px;
}